body {
    padding: 70px 5px 0;
}
.donetrue {
    text-decoration: line-through;
}
.nav, 
.pagination, 
.carousel, 
.panel-title a { 
    cursor: pointer; 
}
.search-result {
    margin-bottom: 1em;
    
    .business-type {
        width: 25%;
        float: left;
        background-color: #f6f6f6;
    }
    .business-listing {
        width: 75%;
        float: right;
        background-color: #e1e7f0;
    }
}
.locations {
    padding: 0.5em 2em;
    
    &:nth-child(odd) {
        background-color: #efefef;
    }    
}
 