
/* sass variables */

$default-font: 'Droid Sans', sans-serif;
$default-font-size: .9375em;
$default-hover: #428bca;
$mia-green: #9dc533;
$text-color: #454741;
$border-grey: #cecccc;

body {
    padding: 0;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 200;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
}
.donetrue {
    text-decoration: line-through;
}
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

/* ----------------------------------------------------global defaults------------------------*/
.wrapper {
    background-color: #f4f1ef;

    .container {
        max-width: 640px;
        margin: auto;
        background: #fff;
    }
}
#miautism-logo {
    fill:#9DC53B;
}
.about .wrapper {
    background-color: #fff;
}
.main-header {
    text-align: center;

    .logo-link {
        display: table-cell;
        vertical-align: middle;
    }
    .header-view {
        border-bottom: solid 1px $border-grey;
        position: relative;
        display: table;
        width: 100%;
    }
    .site-logo {
        width: 80%;
        max-width: 344px;
        vertical-align: middle;
    }
    .site-logo-no-nav {
        width: 53.75%;
        vertical-align: middle;
    }
    .back-button {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 18%;

        img {
            width: 50px;
        }
    }
    .back-arrow {
        vertical-align: middle;
        margin-left: 1em;
        float: left;
    }
    .placeholder {
        display: table-cell;
        width: 18%;
    }
}
.footer-content {
    .footer-wrapper {
        max-width: 580px;
        margin: 0 auto 5px;
    }
    .footer {
        background-color: #f6f6f6;
        border-top: solid 1px $border-grey;
        border-bottom: solid 1px $border-grey;
        padding: 0.75em 1em;
    }
    .aaom-logo {
        width: 100%;
    }
    .aaom-logo-link {
        display: block;
        width: 15%;
        max-width: 42px;
        float: left;
        line-height: .25em;
        margin-right: 1em;
    }
    .facebook {
        float: right;
        display: block;
        width: 30px;
        height: 30px;
        padding-top: 9px;
    }
    .footer-nav {
        line-height: 4em;
        text-align: center;
        font-size: .8em;
        color: $mia-green;
        text-decoration: none;

        a:link, a:visited {
            color: $mia-green;
        }
        a:hover, a:active {
            color: $default-hover;
        }
    }
    .footer-blurb {
        float: left;
        width: 85%;
        color: #86887f;
        padding: .5em 0 0 0;

        p {
            font: 200 .75em/1.25em $default-font;
            padding-top: 4px;
        }
    }
}
star-rating {
    display: inline-block;
    width: 85px;
    float: right;
    padding-top: 3px;

    .star {
        float: left;
        width: 12px;
        margin-right: 4px;
    }
}
#star-path {
    stroke: $mia-green;
    fill: white;

    &.filled {
        fill: $mia-green;
    }
}
.angular-google-map-container {
    height: 200px;
}

/* ----------------------------------------------------styles for landing page------------------- */

.main-dropdown {
    background-color: $mia-green;
    min-height: 60px;
    padding: 1em 0 0;
    position: relative;
    display: block;

    &:link, &:hover, &:active, &:focus {
        text-decoration: none;
    }

    .title {
        text-transform: uppercase;
        font: normal bold 0.5625em/1em $default-font;
        margin-bottom: .25em;
        padding-left: 6.15em;
        color: $text-color;

        &:link, &:visited, &:hover, &:active, &:focus {
            color: $text-color;
        }

    }
    .selected-county {
        font: normal bold 1.125em/1.125em $default-font;
        color: #fff;
        letter-spacing: -0.025em;
        padding-left: 3em;
    }
    .dropdown-arrow {
        float: right;
        width: 23px;
        position: absolute;
        right: 1.5em;
        top: 1.5em;
    }
}
.dropdown-menu.county {
    margin: 0;
    padding: 0 0 1em;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: inherit;
    border-radius: 0;
    background-color: $mia-green;
    width: 100%;
}
.dropdown-menu {
    .search-term {
        padding: 0.75em 0 0.75em 3.5em;
        cursor: pointer;
        color: #fff;

        &:hover, &:active {
            color: $text-color;
            background-color: #d5e6a7;
            font-weight: bold;
        }
    }
}
.business-type {
    width: 40px;
    padding: 0 5px;
    float: left;
}
.search-result {
    margin-bottom: 1em;
    font-size: $default-font-size;
    border-bottom: solid 1px #cecccc;
    padding: 1em 1em .65em;
    min-height: 79px;

    h3{
        line-height: 1.25em;
    }

    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
    .address {
        display: block;
        font: normal bold 10px/15px $default-font;
    }
}
.business-type, .business-listing {
    float: left;
}
.business-listing {
    width: 65%;
    font-size: $default-font-size;
    padding-bottom: 1em;
}

/* ----------------------------------------------------styles for review page------------------- */
.review {
    margin-bottom: 1em;
    padding: 1em 1em 0;
    border-top: solid 5px $mia-green;

    star-rating {
        padding-top: 0;
    }
    .small-header {
        padding: 1em 0;
        -webkit-font-smoothing: subpixel-antialiased;
        font: normal 200 0.6875em/1em $default-font;
        text-transform: uppercase;
        color: $mia-green;
    }
}
.business-name {
    font: normal 200 1.125em/1em $default-font;
}
.address {
    font: normal bold 0.8125em/1em $default-font;
}
.business-ratings, .comments {
    border-top: solid 1px $mia-green;
    padding-bottom: 1em;
}
.business-ratings {
    font: normal 200 0.9375em/1.5em $default-font;

    strong {
        font-weight: 700;
    }
}
.comments {
    font: normal 200 0.8em/18px $default-font;
}

/* ----------------------------------------------- about page -------------*/

.about {
    padding: 0 0 1em;

    .wrapper {
        padding: 0 1em;
    }

    h1, h3 {
        font-family: $default-font;
    }
    .h1 {
        font-size: 1.75em;
        line-height: 1em;
        color: $mia-green;
        font-weight: 700;
    }
    .h3 {
        font-size: 1.25em;
        background-color: $mia-green;
        padding: 30px;
        color: #fff;
        font-size: 22px;
        margin-top: 0;

        a:link, a:visited, a:hover {

        }
    }
    .h4 {
        font-size: .85em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.035em;
        margin: 2em 0 1em;
    }
    .compass {
        width: 12.5%;
        margin: auto;
        display: block;
        padding: 2em 0;
    }
}
@media screen and (min-width: 525px){
    .footer-content {
        .footer-blurb {
            p {
                line-height: 2.5em;
            }
        }
    }
}
@media screen and (max-width: 550px){
    .angular-google-map-container {
        height: 390px;
    }
}
@media screen and (max-width: 680px){
    .angular-google-map-container {
        height: 480px;
    }
}
@media screen and (max-width: 399px){
    .miautism-logo {
        width: 176px;
        margin: auto;
        padding: 10px 0 7px;
    }
    .angular-google-map-container {
        height: 270px;
    }
    .business-listing {
        width: 55%;
    }
}
@media screen and (min-width: 400px){
    .miautism-logo {
        width: 200px;
        margin: auto;
        padding: 15px 0;
    }
}
@media screen and (min-width: 400px){
    height: 54px;
}
@media screen and (max-width: 640px){
    body {
        padding: 0;
    }
    .container {
        padding: 0;
    }
}
@media screen and (min-width: 641px){
    .miautism-logo {
        width: 176px;
        margin: auto;
        padding: 15px 0;
    }
    .main-header {

        .header-view {
            border-bottom: none;
        }
    }
    .angular-google-map-container {
        height: 480px;
    }
}


