body {
    padding: 0 5px 0;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 200;
    color: #454741;
    -webkit-font-smoothing: antialiased;
}
.donetrue {
    text-decoration: line-through;
}
.nav, 
.pagination, 
.carousel, 
.panel-title a { 
    cursor: pointer; 
}
/* ----------------------------------------------------global defaults------------------------*/

.main-header {
    text-align: center;
    
    .site-logo {
        width: 53.75%;
        max-width: 344px;
    }
}
.footer {
    text-align: center;
}
/* ----------------------------------------------------styles for landing page------------------- */
.map-view {
    margin-bottom: 1em;
}
.business-type {
    width: 9.375%; /* 60/640 */
    float: left;
}
.search-result {
    margin-bottom: 1em;
    font-size: .9375em;
    border-bottom: solid 1px #cecccc;
    padding-bottom: .65em;
        
    .business-listing {
        float: left;
        width: 75%;
        padding-left: 1em;
       
       .address, .overall-rating {
        display: block;
        font: normal bold 10px/15px 'Droid Sans', sans-serif;
       }
       .address {
        
       }
        .overall-rating {
                width: 12px;
        }       
    }
}


/* ----------------------------------------------------styles for review page------------------- */
.review {
    .business-listing {
        /* float: left; */
        width: 75%;
    }
}
.angular-google-map-container { 
    height: 400px; 
}
 

