<div class="about">
    <h1 class="h1">About MiAutism</h1>
    
    <h3 class="h3">The MiAutism web app was created by the <a href="http://autismallianceofmichigan.org">Autism Alliance of Michigan</a> to give parents in the greater Southeast Michigan area a resource for places to go with their children.</h3>
    
    <blockquote>
      <p>"Our goal is to help families navigate to the best community destinations for their children with autism or loved ones. We also feel this benefits businesses greatly by helping them understand the unique characteristics of this disorder and increase understanding and acceptance of those with an autism spectrum disorder."
    Colleen Allen, Ph.D. AAoM President and CEO  </p>
    </blockquote>
    
    <article class="">
        <h4 class="h4">About the Autism Alliance of Michigan</h4>
        
        <p>The <a href="http://autismallianceofmichigan.org">Autism Alliance of Michigan</a> (AAoM) is a statewide non-profit organization dedicated to enhancing the lives of individuals and families affected by Autism Spectrum Disorders through education, comprehensive services, and coordinated advocacy . Additionally, AAoM is committed to timely access to evidence-based therapies and services for children and adults with autism, to provide access to, and delivery of specialized community trainings for all who live or work with individuals with autism, to enhance educational, outreach, life skills and vocational systems to promote higher societal standards and improved quality of life.</p>
        
        <p>Contribute to the project by <a href="http://submit.miautism.com">submitting a review</a>!</p>

    </article>
</div>

