<div class="footer">
    <div class="footer-wrapper cf">
        <div class="footer-blurb">
            <a class="aaom-logo-link" href="http://autismallianceofmichigan.org">
                <img class="aaom-logo" src="/img/aaom-logo.png" />
            </a>
            <p>MiAutism is brought to you by <a href="http://autismallianceofmichigan.org">autismallianceofmichigan.org</a></p>
        </div>
        <a class="facebook" href="https://www.facebook.com/pages/Autism-Alliance-of-Michigan/122197201137959"><img src="img/facebook.svg"></a>
    </div>
</div>
<div class="footer-nav">
    <a href="mailto:info@autismallianceofmichigan.org">Contact Us</a> | <a href="#!/about">About</a> | <a href="http://www.miautism.com">Submit a review</a>

</div>