<div class="footer">
    <div class="footer-wrapper cf">
        <div class="footer-blurb">
            <a class="aaom-logo-link" href="http://autismallianceofmichigan.org">
                <img class="aaom-logo" src="/img/aaom-logo.png" width="37" height="37" alt="Autism Alliance of Michigan">
            </a>
            <p>MiAutism is brought to you by <a href="http://autismallianceofmichigan.org">autismallianceofmichigan.org</a></p>
        </div>

        <a class="facebook" href="https://www.facebook.com/aaomsmiautism">
            <img src="img/facebook.svg" width="30" height="30" alt="Follow MiAutism on Facebook">
        </a>
    </div>
</div>
<div class="footer-nav">
    <a href="mailto:info@autismallianceofmichigan.org">Contact Us</a> | <a href="#!/about">About</a> | <a href="http://www.miautism.com">Submit a review</a>
</div>