<div class="search-result cf" ng-repeat="place in locations">
    <div class="business-type">
        <object type="image/svg+xml" data="/img/{{logotype}}.svg"></object>
    </div>
    <div class="business-listing">
        <h3><a ng-href=#!/review/{{place.id}}>{{place.business.name}}</a></h3>
        <span class="address">{{place.business.town}}</span>
        <span class="overall-rating">
            <object type="image/svg+xml" data="/img/star.svg"></object>
        </span>
    </div>
</div>

