<google-map center="map.center" zoom="map.zoom" control="map.control" pan="map.pan" options="map.options" events="map.events">
    <marker coords="user.coords" options="map.userMarkerOptions"></marker>
    <markers models="map.markers" coords="'self'" fit="true"></markers>
</google-map>

<div class="dropdown">
    <a class="main-dropdown" data-toggle="dropdown">
        <h1 class="title">Recommendations in</h1>
        <div class="selected-county">{{searchterm}} County</div>
        <img class="dropdown-arrow" src="/img/dropdown-arrow.png" />
    </a>
    <ul class="dropdown-menu county" role="menu" aria-labelledby="dLabel">
        <li class="search-term" ng-click="searchterm='Genesee'">Genessee</li>
        <li class="search-term" ng-click="searchterm='Lapeer'">Lapeer</li>
        <li class="search-term" ng-click="searchterm='Lenawee'">Lenawee</li>
        <li class="search-term" ng-click="searchterm='Macomb'">Macomb</li>
        <li class="search-term" ng-click="searchterm='Oakland'">Oakland</li>
        <li class="search-term" ng-click="searchterm='Saint Clair'">Saint Clair</li>
        <li class="search-term" ng-click="searchterm='Washtenaw'">Washtenaw</li>
        <li class="search-term" ng-click="searchterm='Wayne'">Wayne</li>
    </ul>
</div>

<div class="search-result cf" ng-repeat="place in locations | filter:searchterm:county ">
    <a ng-href="#!/review/{{place.id}}">
        <div class="business-type">
            <img width="30" ng-src=/img/{{place.business.logotype}}.svg />
        </div>

        <div class="business-listing">
            <h3>{{place.business.name}}</h3>
            <span class="address">{{place.business.town}}</span>
        </div>

        <star-rating score="place.business.rating.overall"></star-rating>
    </a>
</div>
