
<div class="locations" ng-repeat="place in locations">
    <h2>{{place.location.business.name}}</h2>
    <h3>{{place.location.business.category}}</h3>
    <p><strong>{{place.location.reviewer.firstname}} {{place.location.reviewer.lastname}}</strong></p>
    <p>{{place.location.business.comments}}</p>
    <ul> 
        <li>Overall {{place.location.business.rating.overall}}</li>
        <li>Sights {{place.location.business.rating.sights}}</li>
        <li>Sounds {{place.location.business.rating.sounds}}</li>
        <li>Friendliness {{place.location.business.rating.friendliness}}</li>
    </ul>
</div>
