<div class="review">
    <div class="review-header cf">
        <div class="business-type">
            <object type="image/svg+xml" data="/img/{{logotype}}.svg"></object>
        </div>
        <div class="business-listing">
            <h3 class="business-name">{{business.name}}</h3>
            <span class="address">{{business.town}}, MI</span>
        </div>
        <div class="overall-rating">
            <span class="star"><object type="image/svg+xml" data="/img/star.svg"></object></span>
            <span class="star"><object type="image/svg+xml" data="/img/star.svg"></object></span>
            <span class="star"><object type="image/svg+xml" data="/img/star.svg"></object></span>
            <span class="star"><object type="image/svg+xml" data="/img/star.svg"></object></span>
        </div>
    </div>
    <div class="business-ratings">
        <h4 class="small-header">Ratings</h4>
        <ul>
            <li>Overall <strong>{{business.rating.overall}}</strong></li>
            <li>Sights <strong>{{business.rating.sights}}</strong></li>
            <li>Sounds <strong>{{business.rating.sounds}}</strong></li>
            <li>Friendliness <strong>{{business.rating.friendliness}}</strong></li>
        </ul>
    </div>
    <div class="comments">
        <h4 class="small-header">Reviews</h4>
        <p>{{business.comments}}</p>
    </div>
    
    </div>
